html{
    font-family: monospace;
    /* background-image: url("../images/space.jpeg");
    background-size: cover;
    background-repeat: repeat-y; */
    background-color: black;
}

main {
    width: 80%;
    margin: 0 auto;
}

.projectList {
    padding: 5px 0px 5px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.project {
    flex-basis: 250px;
    position: relative;
    padding: 20px;
    margin: auto;
    height: 200px
}

.project img {
    padding: 0px 20px;
    object-fit: cover;
    width: auto;
    height: 100px;
}

h1, h2, h3, li, p {
    color:whitesmoke;
}

h1 {
    letter-spacing: 2px;
    font-size: 60px;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 30px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: 900;
}

h5 {
    font-size: 16px;
    padding: 0 7px;
}

#description {
    font-size: 13px;
}

p {
    font-size: 18px;
    line-height: 2;
}


#projects, #aboutme {
    text-align: center;
    padding: 1rem;
    margin: 2rem 5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 34);
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.title h1 {
    letter-spacing: 2px;
    font-size: 40px;
    text-align: right;
    padding-right: 200px;
}

a {
    text-decoration: none;
}

#resume {
    font-weight: bold;
    /* font-size: 22px; */
    text-decoration: underline;
}

.skills {
    text-align: center;
}

main {
    position: relative;
    top: 100px;
}

.menu {
    display: inline-block;
    width: 200px;
    position: relative;
    left: 150px;
}

.menu:hover, .project:hover {
    background-color: whitesmoke;
    opacity: 0.85;
    border-radius: 10px;
}

.menu:hover > h3, .project:hover > h3 {
    color:rgb(0, 0, 34);
}

.tech-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.tech {
    width: 300px;
    height: 250px;
    position: relative;
}

.tech-text {
    background-color:whitesmoke;
    border-radius: 5%;
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    transition: opacity 1s
}
.tech img {
    max-width: 50%;
    padding-top: 15%; 
}

.tech-text:hover {
    opacity: 0.9;
}

