html{
    font-family: monospace;
    /* background-image: url("../images/space.jpeg");
    background-size: cover;
    background-repeat: repeat-y; */
    background-color: black;
}

.projectList {
    padding: 5px 0px 5px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.project {
    flex-basis: 250px;
    position: relative;
    padding: 20px;
    margin: auto;
    height: 200px
}

.project img {
    padding: 0px 20px;
    object-fit: cover;
    width: auto;
    height: 100px;
}

h1, h2, h3, li, p {
    color:whitesmoke;
}

h1 {
    letter-spacing: 2px;
    font-size: 60px;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 30px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

#description {
    font-size: 13px;
}

li, p {
    font-size: 18px;
    line-height: 2;
}

#projects li{
    padding-right: 35px;
    list-style-type: none;
}

#projects, #aboutme {
    text-align: center;
    padding: 1rem;
    margin: 2rem 5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 34);
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.title h1 {
    letter-spacing: 2px;
    font-size: 40px;
    text-align: right;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

.skills {
    text-align: center;
}

table {
    margin: 4rem auto;
    border: 1px solid whitesmoke;
}

th {
    font-weight: bolder;
    font-size: 22px;
    color: whitesmoke;
}

td {
    color: whitesmoke;
    font-size: 18px;
    padding: 1% 1%;
    text-align: center;
}

main {
    position: relative;
    top: 100px;
}

.menu {
    display: inline-block;
    width: 250px;
}

.menu:hover, .project:hover {
    background-color: whitesmoke;
    opacity: 0.85;
    border-radius: 10px;
}

.menu:hover > h3, .project:hover > h3 {
    color:rgb(0, 0, 34);
}